body {
  font-size: 15px;
  font-family: Roboto;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

section.container {
  min-height: 963px
}

.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 0;
  padding: 0;
}

.topnav li {
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  width: 100%;
  height: 100vh;
  background: url("https://citymagazine.b-cdn.net/wp-content/uploads/2021/07/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg") 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  width: 500px;
  text-align: right;
  bottom: 0vh;
  right: 20vw;
  position: absolute;
}

.container-text h1 {
  font-size: 110px;
  color: white
}

.about-us{
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.about-us article{
  display: flex;
  flex-direction: column;
  width: 35%; 
  max-height: 403px;
  padding: 30px;
}

.about-us p{
  width: 80%;
  font-size: 22px;
}

h1{
  margin: 0;
  font-size: 30px;
  color: black;
}

.about-us img{
  width: 100%;
  object-fit: contain;
  height: auto;
  border-radius: 5px;
}

.what-we-do {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #33292a;
  color: rgb(255, 255, 255);
}

.what-we-do article{
  display: flex;
  flex-direction: column;
  width: 60%; 
  max-height: 400px;
  text-align: center;
}

.what-we-do h1{
  color: white;
}

.what-we-do p {
  font-size: 20px;
}

.icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  text-align: center;
}

.icons h3 {
  color: white;
  margin: 0;
}

.icons img {
  color: white;
  width: 120px;
  height: auto;
  justify-self: center;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-height: 140px;
  background-color: #333333;
}

.contacts a,
h3 {
  color: #f3a9a0;
  margin: 0;
}

.contacts p {
  margin: 0;
  color: white;
  font-weight: bold;
}

@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}