body {
  font-size: 15px;
  font-family: Roboto;
  margin: 0;
}


.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
nav{
display: flex;
justify-content: center;
 width: 100%;
   background: #33292a;
  color: white;
}

section.container {
  min-height: 963px
}

p {
  font-size: 20px;
}

.topnav {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  justify-self: center;
}

.topnav li {
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  width: 100%;
  height: 100vh;
  background-image: url(Images/scott-goodwill.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  width: 500px;
  text-align: right;
  bottom: 0vh;
  right: 20vw;
  position: absolute;
}

.container-text h1 {
  font-size: 110px;
  color: white
}

.sec2 {
  display: flex;
  width: 100%;
  min-height: 800px;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
}
.sec2 article {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  padding: 30px;
}



h1 {
  margin: 0;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.sec2-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  object-position: center;
   display: block;
}

.sec2-image-container {
  width: auto;
  height: auto;  
  border-radius: 5px;
  overflow: hidden;  
}
.sec3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  justify-content: center;
  align-items: center;
  background-color: #33292a;
  color: rgb(255, 255, 255);
}

.sec3 article {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-height: 400px;
  text-align: center;
}

.sec3 h1 {
  color: white;
}

.icons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  text-align: center;
}

.icons h3 {
  color: white;
  margin: 0;
}

.icons img {
  color: white;
  width: 120px;
  height: auto;
  justify-self: center;
}

.sec4 {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4-images {
  display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    justify-content: center;
}

.sec4-images div {
  height: 25vh;
  width: 16vw;
  font-size: 3vw;
  align-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 2%;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img1 {
  background-image: url(Images/daniel-tseng-73lmMKhi2U8-unsplash.jpg);
}

.img2 {
  background-image: url(Images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
}

.img3 {
  background-image: url(Images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
}

.img4 {
  background-image: url(Images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg);
}

.img5 {
  background-image: url(Images/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
}

.img6 {
  background-image: url(Images/matej-drha-rbDzMcJsBkY-unsplash.jpg);
}

.img7 {
  background-image: url(Images/patrick-szylar-45bM3XGqnDE-unsplash.jpg);
}

.img8 {
  background-image: url(Images/simon-english-48nerZQCHgo-unsplash.jpg);
}

.sec5 {
  height: 450px;
  width: 100%;
  background-color: #644b4f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.sec5-contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 110px;
}

.sec5 h1 {
  color: white;
  font-size: 50px;
  width: 20%;
  margin: 0;
}

.sec5 p {
  margin: 0;
}

.sec5 article {
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 30px;
}

.button {
  display: flex;
  border-radius: 5px;
  background-color: white;
  width: 25%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 0 10px;
}

.button h2 {
  color: black;
  text-align: center;
}

.sec6 {
  height: 815px;
  padding: 80px 0;
}

.sec6-content {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  gap: 180px;
}

.sec6 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.sec6 p {
  text-align: center;
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 25px;
}

article.single-review {
  gap: 20px;
  width: 400px;
}

.single-review img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: 50% 50%;
}

.single-review h2 {
  color: black;
}

.sec7 {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sec7 img {
  width: 100%;
  height: 100%;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-height: 140px;
  background-color: #333333;
}


.contacts a,
h3 {
  color: #f3a9a0;
  margin: 0;
}

.contacts p {
  margin: 0;
  color: white;
  font-weight: bold;
}

.hamburger{
justify-self:flex-start;
width: 70px;
height: 70px;
background-color:transparent;
border: none;
display: none;

}
.hamburger span{
  display: inline-block;
width: 40px;
height: 7px;
margin-top: 7px;
border-radius: 50px;
background-color: rgb(217, 217, 217);


}
 @media(max-width: 1100px){

.topnav li{
  font-size: 21px;
}
.topnav{
  gap:90px;
}
.container-text {
  right: 10vw;
}
.icons {
  width: 90%;
}
 }


 @media(max-width: 950px){

 .hamburger{
  display: block;
 }
nav{
justify-content: right;
}
.topnav{
  display: none;
}
.container-text {
  right: 5vw;
}
.sec2-image-container{
height: 550px;  
width: 300px;

}

.sec2 {
  column-gap: 35px;
  height: auto;
}
.sec2 h1{
  font-size: 50px;
}
.icons {
  margin-bottom: 20px;
}
.sec3 article {
  width: 90%;
}
.sec3 img{
  margin-bottom: 20px;
}
.sec3{
 height: auto;
 padding-top: 60px;
padding-bottom: 40px;}

.sec3 h1 {
  font-size: 50px;
}
.sec3 h3 {
  font-size: 35px;
}

.icons img {
  color: white;
  width: 110px;
  height: auto;
  justify-self: center;
}
.sec4-images div {
  height: 34vh;
  width: 26vw;
  font-size: 3vw;
  align-content: center;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 2%;
}
.sec4 h1{
  font-size: 50px;
}
.img-title{
  padding: 20px;
   box-sizing: border-box;
}
.sec4{
   padding: 60px;
}


.sec5-contents{
    gap: 90px;
}
.sec5-contents h1{
  font-size: 50px;
}
.sec5 article {
  width: 60%;
}
.sec5{
  height: auto;
  padding: 50px 0;
}





.sec6-content {
  gap: 50px;
}

.sec6 article {
  width: 90%;
}



 }
/*
  a.icon {
    display: block
  }

  .container-images {
    display: flex;
    gap: 1vw;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
  }

  .container-images div {
    height: 25vh;
    width: 100%;
    font-size: 3vw;
    align-content: center;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 2%;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8 {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container-images .img-title {
    height: 12.5vh;
  }
}*/
 
