body {
  font-size: 15px;
  font-family: Roboto;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

section.container {
  min-height: 963px
}

.topnav {
  display: flex;
  min-height: 80px;
  background: #33292a;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 0;
  padding: 0;
}

.topnav li {
  list-style-type: none;
  font-size: 22px;
  font-weight: bold;
  padding: 0 5px
}

.topnav li a:hover {
  color: lightblue
}

.topnav li a {
  color: white;
  text-decoration: none
}

a.icon {
  display: none
}

.sec1 {
  width: 100%;
  height: 100vh;
  background: url("https://citymagazine.b-cdn.net/wp-content/uploads/2021/07/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg") 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  width: 500px;
  text-align: right;
  bottom: 0vh;
  right: 20vw;
  position: absolute;
}

h1 {
  font-size: 110px;
  color: white
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-height: 140px;
  background-color: #333333;
}

.contacts a,
h3 {
  color: #f3a9a0;
  margin: 0;
}

.contacts p {
  margin: 0;
  color: white;
  font-weight: bold;
}

@media screen and (width <=768px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}

@media screen and (width <=992px) {

  /* w:390px */
  .container {
    width: 100%
  }

  .topnav {
    /*display: none;*/
  }

  a.icon {
    display: block
  }
}